<div class="container-fluid">
<!-- start of weather widget -->
<div class="col-md-2">
  <!-- center widget, intentionally empty space -->
</div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                        {{title}}
                      <ul class="nav navbar-right panel_toolbox btn-group">
                        <li class="row">
                         <input id="zip" class="form-control" type="text" placeholder="&#F002; Search By ZIP" (keyup.enter)="byZip(zip.value)" (blur)="byZip(zip.value)">
                        </li>
                        <li>
                         <button class="getRadar btn btn-info form-control" (click)="pullRadar()">Update Radar</button>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <!-- End Title Bar -->
                    <div id="radarWeather"></div>
                    <div id="mainWeather" class="x_content">
                      
                      <div class="row well">
                        <div class="col-sm-4">
                          <div class="weather-text">
                            <h4>{{location.city}}, {{location.state}}<br><i>{{current_observation.weather}} Day</i></h4>
                          </div>
                          <div class="weather-icon">
                             <img class="md" src="{{current_observation.icon_url}}" />
                          </div>
                          <div class="weather-text">
                              <h6>{{current_observation.observation_time_rfc822 | date:'medium'}}</h6>
                          <h6>Current Temp: {{current_observation.temperature_string}}</h6>
                          <h6>Feels Like  : {{current_observation.feelslike_string}}</h6>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="weather-text">
                            <h5 class="underline"> Wind </h5>
                            <h6>Wind Dir: {{current_observation.wind_dir}}</h6>
                            <h6>Wind: {{current_observation.wind_string}}</h6>
                            <h6>Wind Gust: {{current_observation.wind_gust_mph}}mph</h6>
                            <h6>Wind Chill: {{current_observation.windchill_string}}</h6>
                            <h5 class="underline">Misc.</h5>
                            <h6></h6>
                            <h6></h6>
                            <h6></h6>
                          </div>
                        </div>
                          <div class="col-sm-4">
                            <div class="weather-text">
                            <h5> Radar </h5>
                            </div>
                            <img class="img-fluid" src="{{radarUrl}}" />
                          </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="weather-text pull-right">
                          
                        </div>
                      </div>
                        <br/>
                        <hr>
                      <div class="clearfix"></div>

                      <div class="row weather-days">
                        <div class="col-sm-2" *ngFor="let day of extendedData; let i = index">
                          <div *ngIf="i<6">
                          <div class="daily-weather">
                            <h5 class="day">{{day.title}}</h5>
                            
                            <img class="img-responsive" src="{{day.icon_url.replace('k','j')}}">
                            <h6>{{day.fcttext}}</h6>
                          </div>
                          </div>
                        </div>
                        
                        </div>
                        <div class="clearfix"></div>
                      </div>
                  </div>
                </div>
</div>


